USE [master]
GO
/****** Object:  Database [Univercity]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
CREATE DATABASE [Univercity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Univercity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Univercity.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Univercity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Univercity_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Univercity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Univercity]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[courceID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[professorID] [int] NOT NULL,
	[departmantID] [int] NOT NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[courceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSES_STUDENTS]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES_STUDENTS](
	[courceID] [int] NOT NULL,
	[studentID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMANTS]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMANTS](
	[departmantID] [int] IDENTITY(1,1) NOT NULL,
	[facultyID] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTMANTS] PRIMARY KEY CLUSTERED 
(
	[departmantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[facultyID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[facultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESSORS]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORS](
	[professorsID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[departmantID] [int] NOT NULL,
 CONSTRAINT [PK_PROFESSORS] PRIMARY KEY CLUSTERED 
(
	[professorsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESSORS_TITLES]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORS_TITLES](
	[professorID] [int] IDENTITY(1,1) NOT NULL,
	[titleID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[studentID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[facultyID] [int] NOT NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TITLES]    Script Date: 22.8.2014 г. 17:15:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLES](
	[titlesID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TITLES] PRIMARY KEY CLUSTERED 
(
	[titlesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_DEPARTMANTS] FOREIGN KEY([departmantID])
REFERENCES [dbo].[DEPARTMANTS] ([departmantID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_DEPARTMANTS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_PROFESSORS] FOREIGN KEY([professorID])
REFERENCES [dbo].[PROFESSORS] ([professorsID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_PROFESSORS]
GO
ALTER TABLE [dbo].[COURSES_STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_STUDENTS_COURSES] FOREIGN KEY([courceID])
REFERENCES [dbo].[COURSES] ([courceID])
GO
ALTER TABLE [dbo].[COURSES_STUDENTS] CHECK CONSTRAINT [FK_COURSES_STUDENTS_COURSES]
GO
ALTER TABLE [dbo].[COURSES_STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_STUDENTS_STUDENTS] FOREIGN KEY([studentID])
REFERENCES [dbo].[STUDENTS] ([studentID])
GO
ALTER TABLE [dbo].[COURSES_STUDENTS] CHECK CONSTRAINT [FK_COURSES_STUDENTS_STUDENTS]
GO
ALTER TABLE [dbo].[DEPARTMANTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMANTS_Faculty] FOREIGN KEY([facultyID])
REFERENCES [dbo].[Faculty] ([facultyID])
GO
ALTER TABLE [dbo].[DEPARTMANTS] CHECK CONSTRAINT [FK_DEPARTMANTS_Faculty]
GO
ALTER TABLE [dbo].[PROFESSORS]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORS_DEPARTMANTS] FOREIGN KEY([departmantID])
REFERENCES [dbo].[DEPARTMANTS] ([departmantID])
GO
ALTER TABLE [dbo].[PROFESSORS] CHECK CONSTRAINT [FK_PROFESSORS_DEPARTMANTS]
GO
ALTER TABLE [dbo].[PROFESSORS_TITLES]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORS_TITLES_PROFESSORS] FOREIGN KEY([professorID])
REFERENCES [dbo].[PROFESSORS] ([professorsID])
GO
ALTER TABLE [dbo].[PROFESSORS_TITLES] CHECK CONSTRAINT [FK_PROFESSORS_TITLES_PROFESSORS]
GO
ALTER TABLE [dbo].[PROFESSORS_TITLES]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORS_TITLES_TITLES] FOREIGN KEY([titleID])
REFERENCES [dbo].[TITLES] ([titlesID])
GO
ALTER TABLE [dbo].[PROFESSORS_TITLES] CHECK CONSTRAINT [FK_PROFESSORS_TITLES_TITLES]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_Faculty] FOREIGN KEY([facultyID])
REFERENCES [dbo].[Faculty] ([facultyID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_Faculty]
GO
USE [master]
GO
