#set-name-btn {
    width: 100px;
}

section {
    position: relative;
    width: 450px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #808080;
}

#posts {
    height: 400px;
    margin: 0 10px;
    overflow-y: scroll;
    border: 1px solid #808080;
}

ul {
    list-style-type: none;
}

h2 {
    text-align: center;
}

h3 {
    color: #2749f3;
}

li {
    margin-right: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #d9d7d7;
}

#message {
    position: absolute;
    height: 110px;
    padding: 5px;
    bottom: 10px;
}

#message, div {
    display: inline-block;
}

    div#button {
        position: relative;
        width: 70px;
        height: 95px;
        margin-left: 10px;
        top: -47px;
    }

button {
    width: 100%;
    height: 100%;
    margin: 0;
}

#message-container {
    width: 350px;
    height: 100px;
    overflow: hidden;
}

textarea {
    width: 98%;
    height: 90px;
}
