#container {
    width: 210px;
}

    #container .selected-container {
        border: 3px dashed red;
        height: 100px;
    }

        #container .selected-container img, p, strong {
            display: inline-block;
            padding: 0 5px 0 5px;
        }

    #container div.option div {
        border: 1px solid #000;
    }

    #container div.option {
        height: 200px;
        width: 210px;
        overflow: auto;
        background-color: #bdbbbb;
    }
