<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="News.css" />
</head>
<body>
    <section>
        <header>
            <nav>
                <ul>
                    <li>Новините</li>
                    <li>
                        <a href="#">Спорт</a>
                    </li>
                    <li>
                        <a href="#">Емисии</a>
                    </li>
                    <li>
                        <a href="#">Любопитно</a>
                    </li>
                    <li>
                        <a href="#">Аз, репортерът</a>
                    </li>
                    <li>
                        <a href="#">Тази сутрин</a>
                    </li>
                </ul>
            </nav>
            <section>
                <section id="news">
                    <article>
                        <a href="#">Интернет новини - 13.07.2010г.</a>
                    </article>
                    <article>
                        <a href="#">Проливни дъждове в Дания, Китай и Индия, небичайни горещини в Иран</a>
                    </article>
                    <article>
                        <a href="#">Над 200 хектара горят на територията на бивш военен полигон в Германия</a>
                    </article>
                    <article>
                        <a href="#">23-ма ранени при сблъсък на два пътнически влака в Полша</a>
                    </article>
                    <article>
                        <a href="#">Диференцират от догодина минималния осигурителен доход за самоосигъряващите се</a>
                    </article>
                </section>
                <img src="video.png" alt="video" width="400" height="295" />
            </section>
        </header>
    </section>
</body>
</html>
