<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Music Categories</title>
    <link rel="stylesheet" href="MusicCategories.css" type="text/css" />
</head>
<body>
    <section>
        <header>
            <h1>Music Categories</h1>
        </header>
        <article>
            <img src="Images/clip1.png" alt="clip1" />
            <div>
                <p>Even more websites all about website templates on Just Web Templates.</p>
                <button>Add</button>
                <button>Listen</button>
            </div>
        </article>
        <article>
            <img src="Images/clip1.png" alt="clip1" />
            <div>
                <p>Even more websites all about website templates on Just Web Templates.</p>
                <button>Add</button>
                <button>Listen</button>
            </div>
        </article>
        <article>
            <img src="Images/clip1.png" alt="clip1" />
            <div>
                <p>Even more websites all about website templates on Just Web Templates.</p>
                <button>Add</button>
                <button>Listen</button>
            </div>
        </article>
    </section>
</body>
</html>
