<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sub Lists</title>
    <link rel="stylesheet" href="SubLists.css" type="text/css" />
</head>
<body>
    <nav>
        <ul>
            <li><p>List item</p></li>
            <li><p>List item</p>
                <ul>
                    <li><p>Sublist item</p></li>
                    <li><p>Sublist item</p></li>
                    <li><p>Sublist item</p></li>
                    <li><p>List item</p>
                        <ul>
                            <li><p>Sublist item</p></li>
                            <li><p>Sublist item</p></li>
                            <li><p>Sublist item</p></li>
                            <li><p>Sublist item</p></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><p>List item</p></li>
            <li><p>List item</p></li>
            <li><p>List item</p></li>
        </ul>
    </nav>
</body>
</html>
