ul {
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

li ul {
    display: none;
    color: gray;
}

li:hover > p {
    text-decoration: underline;
}

li:hover > ul {
    display: block;
    padding-left: 10px;
}