body, section, label, ul, li, img, input{
	margin: 0;
	padding: 0;
}

body
{
	section{
			width: 650px;
			margin: 20px;

			ul{
				list-style-type: none;

				li{
					float: left;
					margin-right: 10px;

					label img:last-of-type, input[type="radio"]{
						display: none;
					}

					input[type="radio"]:checked{
						
						& + label{
							
							img:last-of-type{
								display: block;
								position: absolute;
								top: 120px;
								left: 40px;
							}
						}
					}
				}
			}
	}
}