<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Managment</title>
    <link rel="stylesheet" href="managment.css" type="text/css" />
</head>
<body>
    <header>
        <img src="setings.png" alt="logo" />
        <div>
            <form action="#" method="get">
                members login:
                <input type="text" name="name" value="Your name" />
                <input type="text" name="email" value="Email Id" />
                <input type="submit" value="GO"/>
            </form>
        </div>
    </header>
    <section>
        <header>
            <h1>about total management?</h1>
        </header>
        <p>
            Total Managment is a free, tabless, W3C-vomplain web design layout by Templates
            World. This template has been tested and proven compatable with all major browser
            enviremonts and operationg system. You are free to modify the design to suit your
            testes in any way you like.
            <br />We only ask you to not remove <span>"Design by Template World"</span> and the link
            <br />http://www.templateworld.com from the footer of the template.
            <br />This template has been tested and proven compatable with all major browser
            enviremonts and operationg system. You are free to modify the design to suit your
            testes in any way you like
        </p>
    </section>
</body>
</html>
