<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notebooks</title>
    <link rel="stylesheet" href="Notebooks.css" type="text/css" />
</head>
<body>
    <header>
        <a href="#">
            <h1>Apple</h1>
        </a>
        <a href="#">
            <h1>Toshiba</h1>
        </a>
        <a href="#">
            <h1>Lenovo</h1>
        </a>
        <a href="#">
            <h1>Dell</h1>
        </a>
        <a href="#">
            <h1>Asus</h1>
        </a>
        <a href="#">
            <h1>Hacer</h1>
        </a>
        <a href="#">
            <h1>HP</h1>
        </a>
    </header>
    <div>
        <section id="table">
            <article>
                <fieldset>
                    <legend>Apple MakBook Air</legend>
                    <img src="NoteBook.png" alt="notebook" />
                    <div>
                        <p>6<sub>4</sub>GB SSD</p>
                        <p><sub>2</sub>GB DDR</p>
                        <p>Intel Core i<sub>5</sub></p>
                    </div>
                    <div id="line">
                        <sub>1300</sub> USD
                    </div>
                </fieldset>
            </article>
            <article>
                <fieldset>
                    <legend>Apple MakBook Air</legend>
                    <img src="NoteBook.png" alt="notebook" />
                    <div>
                        <p>6<sub>4</sub>GB SSD</p>
                        <p><sub>2</sub>GB DDR</p>
                        <p>Intel Core i<sub>5</sub></p>
                    </div>
                    <div id="line">
                        <sub>1300</sub> USD
                    </div>
                </fieldset>
            </article>
            <article>
                <fieldset>
                    <legend>Apple MakBook Air</legend>
                    <img src="NoteBook.png" alt="notebook" />
                    <div>
                        <p>6<sub>4</sub>GB SSD</p>
                        <p><sub>2</sub>GB DDR</p>
                        <p>Intel Core i<sub>5</sub></p>
                    </div>
                    <div id="line">
                        <sub>1300</sub> USD
                    </div>
                </fieldset>
            </article>
            <article>
                <fieldset>
                    <legend>Apple MakBook Air</legend>
                    <img src="NoteBook.png" alt="notebook" />
                    <div>
                        <p>6<sub>4</sub>GB SSD</p>
                        <p><sub>2</sub>GB DDR</p>
                        <p>Intel Core i<sub>5</sub></p>
                    </div>
                    <div id="line">
                        <sub>1300</sub> USD
                    </div>
                </fieldset>
            </article>
            <article>
                <fieldset>
                    <legend>Apple MakBook Air</legend>
                    <img src="NoteBook.png" alt="notebook" />
                    <div>
                        <p>6<sub>4</sub>GB SSD</p>
                        <p><sub>2</sub>GB DDR</p>
                        <p>Intel Core i<sub>5</sub></p>
                    </div>
                    <div id="line">
                        <sub>1300</sub> USD
                    </div>
                </fieldset>
            </article>
            <article>
                <fieldset>
                    <legend>Apple MakBook Air</legend>
                    <img src="NoteBook.png" alt="notebook" />
                    <div>
                        <p>6<sub>4</sub>GB SSD</p>
                        <p><sub>2</sub>GB DDR</p>
                        <p>Intel Core i<sub>5</sub></p>
                    </div>
                    <div id="line">
                        <sub>1300</sub> USD
                    </div>
                </fieldset>
            </article>
        </section>
        <section id="selectValue">
            <div>
                <p>Min price: <span><sub>500</sub> USD</span></p>
                <input type="range" min="100" max="200" />
            </div>
            <div>
                <p>Min price: <span><sub>1500</sub> USD</span></p>
                <input type="range" min="100" max="200" />
            </div>
            <div>
                <p>Min RAM: <span><sub>4</sub> GB</span></p>
                <input type="range" min="100" max="200" />
            </div>
            <div>
                <p>Min RAM: <span><sub>1</sub>6 GB</span></p>
                <input type="range" min="100" max="200" />
            </div>
        </section>
    </div>
</body>
</html>
