extends ../layout
block main-content
    .text-center
        h3 Contact us using:
        p
        p To contact us use one of the following
        .container
            p= email
            p From inside the US dial #{telephone}

